body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(251, 63, 206);
  background: radial-gradient(circle, rgba(251, 63, 206, 0.4319852941176471) 0%, rgba(177, 125, 225, 1) 100%);
}

.colc {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#all {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 100%;

}

#title {
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 6em;
  color: #a20ded;
  text-shadow: 0 1px 0 #000000, 0 2px 0 #000000, 0 3px 0 #000000, 0 4px 0 #000000, 0 5px 0 #000000, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);


}

#myBody {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  height: 30em;
  width: 17em;

  background-color: #a20ded;
  border-radius: 0.5em;
  transition: 0.4s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  margin: 1em;
}

.card:hover {
  transition: 0.4;
  background-color: white;
}

.card:hover {

  /* .upCard{
    visibility: hidden;
  } */
  .upPrubeCard {
    visibility: hidden;
  }

  .upPrube2Card {
    visibility: visible;
  }

  .centerCard {
    margin-bottom: -2em;
  }
}

.upCard {
  height: 3em;
  width: 14em;
  margin-bottom: 23em;
  font-weight: bold;
  font-size: large;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}

.upPrube1Card {
  height: 3em;
  width: 14em;
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.upPrube2Card {
  height: 3em;
  width: 14em;
  font-weight: bold;
  font-size: large;
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerCard {
  height: 25em;
  width: 16em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}